#import-modal
  .modal-header
    %h2 Fill in your Gmail account information
  .modal-body
    %label.label Email*
    = text_field_tag 'gmail_userid'
    %label.label Password*
    = password_field_tag 'gmail_password'
    %br
    .loader.pull-left{:style => 'display: none;'}
      = image_tag('loader.gif')
    %br
    %span{:class => 'btn btn-primary btn-large pull-left', :id => 'fetch-gmail-contacts'} Submit

#contacts-modal{:style => 'display:none;'}
  .modal-header
    %h1 Your Gmail Contacts
  .modal-body
    %span
    #list_of_contacts
      %table{:id => "fetched_gmail_contacts_list", :width => "100%"}
        -all_contacts.each do |contact|
          %tr
            %td
              %input{:type=>"checkbox", :name=>"contact_list", :id => contact}
            %td
              = contact

      #pageNavPosition

    %br
    .loader.pull-left{:style => 'display: none;'}
      = image_tag('loader.gif')

  .modal-footer
    %span{:class => 'btn btn-primary btn-large pull-left', :id => 'invite-gmail-contacts'} Invite

  %script{:type => "text/javascript"}
    var pager = new Pager('fetched_gmail_contacts_list', 10, 'pager', 'pageNavPosition');
    pager.init();
    pager.showPage(1);
