.text
  %h1
    You can invite your friends to use OnTheWay. There are three ways.
%br
.hero-unit
  = semantic_form_for 'invites',  :url => "#", :html => {:method => :get} do |f|
    = f.inputs do
      .accordion{:id => "accordion2"}
        .accordion-group
          .accordion-heading
            %span{:href => "#invite1", :class => "accordion-toggle", :"data-parent"=> "#accordion2", :"data-toggle"=> "collapse" }
              %h3 Via Email
          #invite1{:class => "accordion-body collapse in"}
            .accordion-inner
              = f.input :email, :label => "Email addresses", :input_html => { :class => 'text-input', :title => 'Enter a comma-seperated list of emails'}
              = f.input :url, :as => :hidden , :value => send_invite_user_invites_path(current_user)
        .accordion-group
          .accordion-heading
            %span{:href => "#invite2", :class => "accordion-toggle", :"data-parent"=> "#accordion2", :"data-toggle"=> "collapse" }
              %h3 Via Gmail
          #invite2{:class => "accordion-body collapse"}
            .accordion-inner
              %p Invite friends via Gmail
        .accordion-group
          .accordion-heading
            %span{:href => "#invite3", :class => "accordion-toggle", :"data-parent"=> "#accordion2", :"data-toggle"=> "collapse" }
              %h3 Via Facebook
          #invite3{:class => "accordion-body collapse"}
            .accordion-inner
              %p Invite friends via Facebook
      %br
      = f.buttons do
        = f.commit_button "Invite", :button_html => {:class => 'btn btn-primary btn-large'}
    

