#hook-up
  .modal-header
    %h2= "#{header_text(params[:type])} #{@contactee.try(:full_name)}"
  .modal-body
    .form
      %span{:class => 'label label-important hookup-note'} Please fill in the information below and submit to get in touch
      %p
      = semantic_form_for @hook, :url => user_hook_ups_path(current_user, @hook, "#{params[:type]}_id" => params["#{params[:type]}_id"]) , :validate => true do |f|
        = f.inputs do
          %h3= "To: #{@contactee.try(:full_name)}"
          %h6= "Going from: #{@origin}"
          %h6= "Going to: #{@dest}"
          %h6= "#{@time}"
          %br
          = f.input :contactee_id , :as => :hidden , :value => @contactee.try(:id)
          = f.input :contacter_id , :as => :hidden , :value => current_user.id
          = f.input :hookable_id , :as => :hidden , :value => params["#{params[:type]}_id"]
          = f.input :hookable_type , :as => :hidden , :value => params[:type].classify if params[:type]
          = f.input :mobile, :input_html => {:value => current_user.mobile, :title => 'Enter your mobile number to contact' }, :label => 'Mobile number'
          = f.input :message, :as => :text , :input_html => { :rows => 10, :cols => 20, :placeholder => 'Use this space to add any other information that you think might be useful like your exact address, exact time of pick up, pick up or drop off points etc.' }, :required => true
          = hidden_field_tag 'hook_up_uniq_id', params[:uuid]
  .modal-footer
    .loader{:style => 'display: none;', :class => 'pull-left'}
      = image_tag('loader.gif')
    = link_to('Submit', '#', :id => 'hook-submit', :class => 'btn btn-primary btn-large pull-left')



