%h2 Getting an account enables you to use this site better.
#form_wrapper
  = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    = f.inputs do
      = f.input :email
      = f.input :first_name
      = f.input :last_name
      = f.input :password
      = f.input :password_confirmation
    = f.buttons do
      = f.commit_button "Sign me up!"