.text
  %h1 Sign up here to use Find.a.Ride
%hr
.hero-unit
  = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    /= devise_error_messages!
    = f.inputs do
      = f.input :email
      = f.input :first_name
      = f.input :last_name
      = f.input :password
      = f.input :password_confirmation, :label => 'Enter password again'
      = f.input :terms, :as => :boolean, :label => "By Signing up, you agree to the <a data-toggle=\"modal\" class=\"btn btn-info\" href=\"#terms\">terms and conditions</a> of Find.a.Ride".html_safe
    = f.buttons do
      = f.commit_button "Sign me up"
= render 'shared/tos'
