%p= "Hello #{@to_user["first_name"]}!"
%br
%p= "#{@from_user["name"]} who found you on #{link_to('Find-a-Ride', root_url)} is looking to offer a ride."
%p= "Please see below the message from #{@from_user["name"]}"
%br
%p= @message
%br
%p= "The #{@from_user["name"]}'s contact information is provided below if you would like to get in touch and take this further"
%p
  %b= "#{@from_user["email"]}"
  %br
  %b= "#{@from_user["phone"]}"
%br
%p Find-a-Ride Team