%span= "Hello #{@to_user["first_name"]}!"
%br
%p= "#{@from_user["name"]} who found you on #{link_to('Find-a-Ride', root_url)} is looking to offer a ride."
%p= "Please see below the message from #{@from_user["name"]}:"
%p
  %b= @message
%p= "#{@from_user["name"]}'s contact information is here if you would like to hook up and take this further"
%b
  %ul{:style => 'list-style-type: none;'}
    %li= link_to("#{@from_user["email"]}", "mailto:#{@from_user["email"]}")
    %li= "#{@from_user["phone"]}"
%p 
  %b Find-a-Ride Team