%div{:id => "contact_ride_#{contact.id}", :class => 'modal_overlay'}
  #contact_form
    %span.to
      = "To"
      %b.to_name= "#{contact.full_name}"
    #form_wrapper
      - if user_signed_in?
        %ul
          %li
            %span.message Message
            = text_area_tag 'contact_msg'
          %li
            = submit_tag 'Proceed', :class => 'submit'
      - else
        %ul
          %li
            %span.name Name*
            = text_field_tag 'contact_name'
          %li
            %span.email Email*
            = text_field_tag 'contact_email'
          %li
            %span.email Phone
            = text_field_tag 'contact_phone'
          %li
            %span.message Message
            = text_area_tag 'contact_msg'
          %li
            = submit_tag 'Proceed', :class => 'submit'