- if @paginated_results.empty?
  #no_results
    %span
      Sorry! We could'nt find anything for your search criteria. 
      = link_to('Go back', home_index_path)
      and try again.
- else
  #results
    %span.total
      Yay! Found
      = pluralize(@paginated_results.total_entries, 'match') 
      for your search.
    %ul
      - @paginated_results.each do |result|
        %li
          #result_info
            = image_tag('blank_profile_picture.png', :size => '75x75')
            = result.full_name
      = will_paginate @paginated_results
    %span.go_back
      = link_to('Go back to Search', home_index_path)
      
     
