- @ride_request = RideRequest.new
.text
  %h2 Fill in information below to request a ride
.hero-unit
  = semantic_form_for @ride_request, :url => ride_requests_path(@ride_request) , :validate => true do |f|
    = f.inputs do
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "orig", :label => "Going from"}
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "dest", :label => "Going to"}
      = f.input :start_date, :required => true , :input_html => { :class => 'datepicker'}, :label => 'What day?'
      = f.input :start_time, :input_html => { :class => 'timepicker'},:label => 'Roughly what time?'
      = f.input :vehicle, :as => :select, :label => 'Vehicle you prefer?', :include_blank => false, :collection => ['4-Wheeler', '2-Wheeler'],:input_html => {:class => "required"}
      = f.input :type , :as => :hidden , :value => "RideRequest"
    = f.buttons do
      = f.commit_button :label => 'Submit'

    


