#banner_block
  %h2 Enter the email associated with your Twitter account.
#form_wrapper
  = semantic_form_for(@user, :url => register_user_with_twitter_path) do |f|
    = f.inputs do
      = f.input :email
    = f.buttons do
      = f.commit_button "Submit"

