.text
  %h2 Update your password here
%hr
.hero-unit
  = semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    /= devise_error_messages!
    = f.hidden_field :reset_password_token
    = f.inputs do
      = f.input :password, :label => "New Password"
      = f.input :password_confirmation, :label => "Confirm new Password"
    = f.buttons do
      = f.commit_button "Submit"