%table.table.table-striped.alerts-list
  %th
  %th From
  %th Received at
  - alerts.each do |a|
    %tr.alert-row{:"data-target" => "#alert-#{a.id}"}
      %td
        = alert_image(a)
      %td
        %h5.table-text= a.sender.full_name
      %td
        %h5.table-text= humanize_time(a.created_at)
    %tr.content-row{:id => "alert-#{a.id}"}
      %td{:colspan => '3'}
        = render :partial => 'alerts/show', :locals => {:alert => a} 


        


