- form_element = form_element || ''
- name = name || 'search'
- url = location_search_path
- selected_value = selected_value || '' 
- style = style || ''

- unless form_element.blank?
  = form_element.input(name, :required => true ,:input_html => {:class => 'ac_input autocomplete text-input', :title => 'Enter the area', :autocomplete => "off"}, :label => label)
- else
  %span= "#{label}"
  = text_field_tag(name, '', :class => 'ac_input autocomplete', :autocomplete => "off", :value => selected_value, :style => style)
= hidden_field_tag('data-url', url)