%li#options{:class => 'dropdown'}
  %a{:class => 'dropdown-toggle', "data-toggle" => 'dropdown', :href => 'options'} 
    = "#{selected_city}"
    %b.caret
  %ul{:class => 'dropdown-menu'}
    - app_cities.each do |c|
      %li= link_to(c, initialize_city_url(:city => c))
%li= link_to("About", about_url)
%li.contact-modal-link
  = link_to("Contact", '#contact', "data-toggle" => "modal")