%table{:class => 'table table-striped'}
  %th Name
  %th Leaving from
  %th Going to
  %th Time
  %th= 'Vehicle type' if type == :ride_offer
  %th
  %th
  - results.each do |result|
    - already_hooked_up = current_user.hooked_up_for_ride?(result)
    - uuid = user_uuid
    %tr{:id => "hook-up-popover#{uuid}", :class => 'result-popover', "data-content" => other_info_content(result, already_hooked_up)}
      %td
        %h5.table-text= user_name(result)
      %td
        %h5.table-text= result.ride_origin.name
      %td
        %h5.table-text= result.ride_destination.name
      %td
        %h5.table-text= humanize_time(result.ride_time)
      %td= vehicle_type_image(result) if type == :ride_offer
      %td
      %td
        - unless already_hooked_up
          = link_to(hookup_label(result), '#hook-up-'+uuid, :class => 'btn btn-medium btn-primary', "data-toggle" => "modal")
        - else
          %span{:class => 'btn btn-medium btn-primary disabled'}= hookup_label(result)
    - unless already_hooked_up
      %div{:id => "hook-up-#{uuid}", :class => 'modal hide hookclass', :url => new_user_hook_up_url(:user_id => current_user.id, :id => user_id(result), :orig => result.ride_origin.name, :dest => result.ride_destination.name, :time => humanize_time(result.ride_time), :type => type, "#{type}_id" => result.id , :uuid => uuid)}

