%table{:class => 'table table-striped'}
  %th Name
  %th Leaving from
  %th Going to
  %th Time
  %th= 'Vehicle type' if type == :ride_offer
  %th
  - results.each do |result|
    %tr
      %td= user_name(result)
      %td= result.ride_origin.name
      %td= result.ride_destination.name
      %td= humanize_time(result.ride_time)
      %td= vehicle_type_image(result) if type == :ride_offer
      %td= link_to('Hook up', '#hooks'+user_info(result).to_s, :class => 'btn btn-medium btn-primary', "data-toggle" => "modal")
    %div{:id => "hooks#{user_info(result)}", :class => 'modal hide hookclass', :url => new_hook_up_url(:id => user_info(result))}
