%script{:type => 'text/javascript'} var rides = {};
%table{:class => 'table table-striped rides-table'}
  %th Name
  %th Leaving from
  %th Going to
  %th Time
  %th= 'Vehicle type' if type == :ride_offer
  %th
  %th
  - results.each do |result|
    - already_hooked_up = current_user.hooked_up_for_ride?(result)
    - uuid = user_uuid
    %tr{:id => "hook-up-popover#{uuid}", :class => 'result-popover', "data-content" => other_info_content(result, already_hooked_up)}
      %td
        %h5.table-text= user_name(result)
      %td
        %h5.table-text= result.ride_origin.name
      %td
        %h5.table-text= result.ride_destination.name
      %td
        %h5.table-text= humanize_time(result.ride_time)
      %td{:style => 'text-align: center;'}= vehicle_type_image(result) if type == :ride_offer
      %td
      %td
        - unless already_hooked_up
          = link_to(hookup_label(result), "#hook-up-#{uuid}", :class => 'btn btn-medium btn-primary hookup', 'data-ride_id' => result.try(:id))
          %script{:type => "text/javascript"} rides[#{result.try(:id)}] = #{ride_details_json(result, uuid)};
        - else
          %span{:class => 'btn btn-medium btn-primary disabled'}= hookup_label(result)

= render "hook_ups/hookup_modal_template"
