%table{:class => 'table table-striped'}
  %th Name
  %th Leaving from
  %th Going to
  %th Time
  %th= 'Vehicle type' if type == :ride_offer
  %th
  - results.each do |result|
    %tr
      %td= user_name(result)
      %td= result.ride_origin.name
      %td= result.ride_destination.name
      %td= humanize_time(result.ride_time)
      %td= vehicle_type_image(result) if type == :ride_offer
      %td= link_to('Hook up', '#hook-up'+user_id(result).to_s, :class => 'btn btn-medium btn-primary', "data-toggle" => "modal")
    %div{:id => "hook-up#{user_id(result)}", :class => 'modal hide hookclass', :url => new_hook_up_url(:id => user_id(result), :orig => result.ride_origin.name, :dest => result.ride_destination.name, :type => type, :time => humanize_time(result.ride_time))}
