#user_nav
  - if user_signed_in?
    #auth
      Hello 
      = link_to("#{current_user.first_name}", edit_user_registration_path)
      = user_display_pic(current_user, '40x40')
      | 
      = link_to("Sign out", destroy_user_session_path, :method => :delete)
  - else
    #no_auth
      = link_to("Sign in", new_user_session_path)