%hr
.hero-unit  
  .home
    = render 'shared/carousel'
    %h2
      This is a free service that enables eco-friendly citizens to find and share rides with other like minded folks to drive down fuel usage, save money and mother earth in the process. Simple, ain't it?
      = link_to('Learn more', about_home_index_path, :class => 'btn btn-primary btn-large')
    %br
    %br
    - unless user_signed_in?
      .signup-block
        %h3
          Three ways to get started!
          = link_to('Sign up here', new_registration_path(:user), :class => 'btn btn-primary btn-large')
          or use your
          = link_to(image_tag("facebook_logo.jpeg", :size => '30x30'), user_omniauth_authorize_path(:facebook))
          or
          = link_to(image_tag("twitter_logo.png", :size => '30x30'), user_omniauth_authorize_path(:twitter))
          accounts.




