#accordian2{:class => "accordian"}
  #{:class => "accordian-group "}
    #{:class => "accordian-heading"}
      %a{:class => "accordian-toggle" , :href => "#collapseOne", :"data-parent" => "accordian2" , :"data-toggle" => "collapse"}
        First collapse
    #collapseOne{:class => "accordion-body collapse"}
      %p ssssssssssssssssssssssssss
  #{:class => "accordian-group "}
    #{:class => "accordian-heading"}
      %a{:class => "accordian-toggle" , :href => "#collapseTwo", :"data-parent" => "accordian2" , :"data-toggle" => "collapse"}
        First collapse
    #collapseTwo{:class => "accordion-body collapse"}
      %p ssssssssssssssssssssssssss
  #{:class => "accordian-group "}
    #{:class => "accordian-heading"}
      %a{:class => "accordian-toggle" , :href => "#collapseThree", :"data-parent" => "accordian2" , :"data-toggle" => "collapse"}
        First collapse
    #collapseThree{:class => "accordion-body collapse"}
      %p ssssssssssssssssssssssssss