.alert-content
  %p
    %span
      = "I would like to #{alert.hook_up.hookable.request? ? 'offer' : 'request'} you a ride from #{alert.hook_up.hookable.try(:ride_origin).try(:name)} to #{alert.hook_up.hookable.try(:ride_destination).try(:name)} at around #{formatted_ride_time(alert.hook_up.hookable.try(:ride_time))}" 
  %p
    %span
      Additional information:
      = alert.message
  %h4= alert.sender.email
  %h5= alert.sender.mobile
  %h5= alert.sender.landline
  = link_to('Archive', " ", :class => 'btn btn-medium btn-danger pull-right')
  %br.clear

  


