%p= "Hello #{@hook_up.contactee.try(:full_name)},"
%br

%p.hookup-msg
  I want to offer you a ride from
  %b #{@hook_up.hookable.ride_origin.name} 
  to 
  %b #{@hook_up.hookable.ride_destination.name} 
  at around  
  %b
    = HookUpsHelper.formatted_ride_time(@hook_up.hookable.ride_time)
%br

%p.hookup-contact-info
  My contact info:
  %br
  = link_to("#{@hook_up.contacter.email}", "mailto:#{@hook_up.contacter.email}", :class => 'blue-underline')
  %br
  %b= "#{@mobile}"
%br

%p.hookup-msg-addl= @message

%p{:style => 'font-size: 18px;'} Thanks
