%span= "Hello #{@hook_up.contactee.try(:full_name)}!"
%br
%p
  ="Via Find-a-Ride, I realised that you are looking to offer a ride from "
  %b #{@hook_up.hookable.ride_origin.name} 
  to 
  %b #{@hook_up.hookable.ride_destination.name} 
  around  
  %b
    = HookUpsHelper.formatted_ride_time(@hook_up.hookable.ride_time)
%p
  %b= @message
%p= "My contact information is here if you would like to hook up and take this further"
%p{:style => 'list-style-type: none;'}
  %p{:style => 'font-weight: bold;'}= link_to("#{@hook_up.contacter.email}", "mailto:#{@hook_up.contacter.email}" , :class => "btn btn-primary btn-large")
  %p= "#{@mobile}"
%br
%p{:style => 'font-size: 18px;'}
  %b Thanks
