%p= "Hello #{@hook_up.contactee.try(:full_name)},"
%br

%p.hookup-msg
  I would like to offer you a ride from
  %b 
    #{@hook_up.hookable.try(:ride_origin).try(:name)} 
  to 
  %b 
    #{@hook_up.hookable.try(:ride_destination).try(:name)} 
  at around  
  %b
    = formatted_ride_time(@hook_up.hookable.try(:ride_time))
%br

%p.hookup-contact-info
  My contact info:
  %br
  = link_to("#{@hook_up.contacter.email}", "mailto:#{@hook_up.contacter.email}", :class => 'blue-underline')
  %br
  %b= "mobile: #{@mobile}"
  - if !@hook_up.contacter.landline.blank?
    %br
    %b= "landline: #{@hook_up.contacter.landline}"
%br

%p.hookup-msg-addl= @message

%p{:style => 'font-size: 18px;'} Thanks -
%p= "#{@hook_up.contacter.try(:full_name)}"
