%p= "Hello #{@recipient[:name]},"
%br

%p
  = link_to('OnTheWay', root_url, :class => 'blue-underline')
  is a service we are doing to ourselves. On this site, People who want to share rides can contact each other &amp; mutually arrange for traveling together. Travelers looking for a ride can post a request and search for folks who can offer them a ride. Folks who want to share their vehicle can similarly post an offer or search for people who are looking for a ride. 
%p
  = link_to "Sign up", signup_url(:referrer => @sender.email), :class => 'blue-underline'
  here
%br

%p{:style => 'font-size: 18px;'}
  Thanks
  %br
  = "#{@sender.full_name} <#{link_to(@sender.email, @sender.email, :class => 'blue-underline')}>"
