.text
  %h2 Sign into Find.a.Ride
%hr
.hero-unit
  .pull-right
    %span{:class => 'label label-important'} *Fields are required
  = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.inputs do
      = f.input :email, :input_html => {:title => 'Enter your account email', :class => 'text-input'}
      = f.input :password, :input_html => {:title => 'Enter the password', :class => 'text-input'}
      - if devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean,:input_html => {:class => 'remember-me'}
    = f.buttons do
      = f.commit_button "Sign in", :button_html => {:class => 'btn btn-primary btn-large'}
  .sign-in-footer
    %ul
      %li= link_to('Forgot your password', users_reset_password_url)
      %li= link_to('Confirm your account', users_confirm_url)
