#form_wrapper
  = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.inputs do
      = f.input :email
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean
    = f.buttons do
      = f.commit_button "Go!"

#signup_block
  %h1 
    Dont have an account? Sign up for
    = link_to('one', new_registration_path(:user))
    here.
