.text
  %h2 
    Please fill in the form below and submit to post a ride offer
    %br  
    %small You will be notified when someone responds to your offer.
%br
.hero-unit
  .pull-right
    %span{:class => 'label label-important'} *Fields are required
  = semantic_form_for @ride_offer, :url => ride_offers_path(@ride_offer) do |f|
    = f.inputs do
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "orig", :label => "I am going from"}
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "dest", :label => "I am going to"}
      #dp3{:"data-date-format" => "dd-mm-yyyy", :"data-date" => Time.now.strftime("%d-%m-%Y"), :class => "input-append date"}
        = f.input :start_date,  :input_html => { :class => 'text-input' , :readonly => true, :title => 'Choose the date you are looking to offer a ride', :value => Time.zone.now.strftime("%d-%m-%Y")},  :label => 'What date?', :required => true
        .add-on
          %i{:class => "icon-th"}
      = f.input :start_time, :input_html => { :readonly => true, :class => 'text-input timepicker', :title => 'Choose the time you are looking to offer a ride'}, :label => 'Around what time?' , :required => true
      = f.input :vehicle, :as => :select, :label => 'The vehicle I have', :include_blank => false, :collection => vehicle_type_collection.slice(0..1), :input_html => { :class => 'text-input', :title => 'Enter the type of vehicle you have'}, :required => true
      = f.input :payment, :as => :select, :label => 'In return, I expect to get', :include_blank => false, :collection => payment_type_collection(['Cash', 'Nothing']), :input_html => { :class => 'text-input', :title => 'What are you expecting in return?'}, :required => true
      = f.input :notes, :as => :text, :label => 'Any additional information', :input_html => { :class => 'text-input', :title => 'Anything else you would like to add? (Max of 300 chars)', :placeholder => 'Use this space to convey a litte more detail about your offer like specific address, pick up or drop off points, specific time of pick up etc'}
      = f.input :type , :as => :hidden , :value => "RideOffer"
    = f.buttons do
      = f.commit_button :label => 'Submit', :button_html => {:class => 'btn btn-primary btn-large'}
      
%input{:type => 'hidden', :id => 'today_date', :value => Time.zone.now.strftime("%d-%m-%Y")}
