.text
  %h3 If you are looking to offer a ride to folks, Please fill in the form below and submit. Once done, Folks looking for rides will be able to find you and hook up with you.
%br
.hero-unit
  = semantic_form_for @ride_offer, :url => ride_offers_path(@ride_offer) do |f|
    = f.inputs do
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "orig", :label => "Going from"}
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "dest", :label => "Going to"}
      #dp3{:"data-date-format" => "dd-mm-yyyy", :"data-date" => Time.now.strftime("%d-%m-%Y"), :class => "input-append date"}
        = f.input :start_date,  :input_html => { :class => 'text-input' , :readonly => true, :title => 'Enter the date you are looking to offer a ride', :value => Time.now.strftime("%d-%m-%Y")},  :label => 'What day?', :required => true
        %span
          .add-on
            %i{:class => "icon-th"}
      =# f.input :start_date,  :input_html => { :class => 'text-input datepicker', :title => 'Enter the date you are looking to offer a ride'},  :label => 'What day?', :required => true
      = f.input :start_time, :input_html => { :readonly => true, :class => 'text-input timepicker', :title => 'Enter the time you are looking to offer a ride'}, :label => 'Roughly what time?' , :required => true
      = f.input :vehicle, :as => :select, :label => 'Vehicle you use?', :include_blank => false, :collection => ['4-Wheeler', '2-Wheeler'], :input_html => { :class => 'text-input', :title => 'Enter the type of vehicle you have'}
      = f.input :type , :as => :hidden , :value => "RideOffer"
    = f.buttons do
      = f.commit_button :label => 'Submit'
   

