- @ride_offer = RideOffer.new
#form_wrapper
  = semantic_form_for @ride_offer, :url => ride_offers_path(@ride_offer) do |f|
    = f.inputs do
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "origin", :label => "Going from"}
      = render :partial => "shared/auto_search_input", :locals => {:form_element => f, :name => "destination", :label => "Going to"}
    = f.buttons do
      = f.commit_button :label => 'Post offer'
    



