!!!
%html
  %head
    %title Find-a-Ride
    = javascript_include_tag :defaults    
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'jquery.autocomplete'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'bootstrap.css'
    = stylesheet_link_tag 'jquery.timepicker.css'
    = stylesheet_link_tag 'jquery.ui.datepicker.css'
    = stylesheet_link_tag 'jquery.ui.theme.css'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = csrf_meta_tag
  %body
    .navbar
      .navbar-inner
        .container
          %h2
            %a{:href => root_url, :class => 'brand'} Find.a.Ride
          .nav-collapse
            %ul{:class => 'nav'} 
              - if user_signed_in?
                %li= link_to("About", about_home_index_path)
              - else
                %li= link_to("About", about_home_index_path)
                %li= link_to("Sign up", new_user_registration_path)
                %li= link_to("Reset password", new_password_path(:user))
                %li= link_to("Confirm account", new_user_confirmation_path(:user))
            - if user_signed_in?
              %p{:class => 'navbar-text pull-right'}
                Logged in as  
                = link_to("#{current_user.name}", edit_user_registration_path) 
                = link_to(" Sign out", destroy_user_session_path, :method => :delete) 
            - else
              %p{:class => 'navbar-text pull-right'}
                = link_to("Sign in", new_user_session_path)
    .container
      = render 'shared/flashes'  
      = yield
      %hr
      .footer
        %b &copy; Pramati Technologies, Hyderabad. 2012.


    