!!!
%html
  %head
    %title Find-a-Ride
    = javascript_include_tag :defaults
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Aldrich"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Wallpoet"
    = javascript_include_tag :defaults, 'jquery.min','jquery.autocomplete.min'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css','jquery.autocomplete', :media => 'print'
    = stylesheet_link_tag 'jquery.autocomplete'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = csrf_meta_tag
  %body.one_col
    #container
      #header
        #big-label
          %h1 Find a Ride. And help the planet!
        #header-links 
          - if user_signed_in?
            = link_to("Your Account", edit_user_registration_path)
            = link_to("Sign out", destroy_user_session_path, :method => :delete)
          - else
            = link_to("Sign In", new_user_session_path)
            = link_to("Forgot Password?", new_password_path(:user))
      .clear
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      #content
        = yield
      #footer
        Copyright. Pramati Technologies, Hyderabad.
