!!!
%html
  %head
    %title Find-a-Ride
    = javascript_include_tag :defaults
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Varela+Round"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Anonymous+Pro:700"
    = javascript_include_tag :defaults
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&region=GB"
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'jquery.autocomplete'
    = stylesheet_link_tag 'accordion.css'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'formtastic.css'
    = javascript_include_tag "jquery.accordion.js"
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = csrf_meta_tag
  %body.one_col
    #container
      #header
        #big-label
          %h1
            %span{:class => 'header_text', :redirect_url => root_url} Find-a-Ride.
          = render :partial => "/shared/google_map"
        #custom_select
          = select("city", "select", APP_CITIES, :selected => session[:city])
        = render 'shared/user_nav'
      .clear
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" unless msg.blank?
        = yield
      #sub-footer
        #footer-navigation
          - if user_signed_in?
            #first
              %ul
                %li= link_to("Home", home_index_path)
                %li= link_to("About Find-a-Ride", about_home_index_path)
            #second
              %ul
                %li= link_to("Your Account Information", edit_user_registration_path)
                %li= link_to("Sign out", destroy_user_session_path, :method => :delete)
          - else
            #first
              %ul
                %li= link_to("Home", home_index_path)
                %li= link_to("About Find-a-Ride", about_home_index_path)
                %li= link_to("Verify account", new_confirmation_path(:user))
            #second
              %ul
                %li= link_to("Sign into your account", new_user_session_path)
                %li= link_to("Sign up for an account", new_registration_path(:user))
                %li= link_to("Reset your account password", new_password_path(:user))
      #footer
        Copyright. Pramati Technologies, Hyderabad.
      = render :partial => "/shared/google_map"
