!!!
%html
  %head
    %title Find-a-Ride  
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'bootstrap.css'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      = csrf_meta_tag
  %body
    .navbar
      .navbar-inner
        .container
          %a{:href => root_url, :class => 'brand'} Find-a-Ride
    .container
      = yield
      %hr
      .footer
        &copy; Pramati Technologies, Hyderabad. 2012.


