!!!
%html
  %head
    %title Find-a-Ride
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Aldrich"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Wallpoet"
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'formtastic.css'
  %body.one_col
    #container
      #header
        #big-label
          %h1 Find-a-Ride. 
      .clear
      #content
        = yield
      #footer
        %br
        Copyright. Pramati Technologies, Hyderabad.
