!!!
%html
  %head
    %title OnTheWay
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'bootstrap.css'
    = stylesheet_link_tag 'mailer.css'
  %body
    %table{:cellspacing => '0', :cellpadding => '0', :width => '100%', :style => "background-color:#2a333c;color:#ece9d7;"}
      %tr
        %td
          .navbar
            .navbar-inner
              .container
              %a.brand{:href => root_url}
                = image_tag('logo.png', :alt => 'OnTheWay', :size => '210x60')
                %span{:class => 'badge badge-info'} Beta
      %tr
        %td
          .container
            .hero-unit
              = yield
            .footer
              %a{:href => 'http://www.imaginea.com/labs', :target => '_blank'}
                %span{:class => 'badge badge-info'} Imaginea Labs. Copyright &copy; 2012, Pramati Technologies Private Limited

